@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {

    /**
     * colors
     */
  
    --selective-yellow: hsl(42, 100%, 56%);
    --roman-silver: hsl(240, 6%, 51%);
    --roman-silver_10: hsla(240, 6%, 51%, 0.1);
    --light-coral: hsl(357, 100%, 75%);
    --oxford-blue: hsl(224, 53%, 10%);
    --light-gray: hsl(0, 0%, 80%);
    --keppei: hsl(173, 60%, 47%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --black_10: hsla(0, 0%, 0%, 0.1);
  
    /**
     * typography
     */
  
    --ff-gilroy: "Gilroy", sans-serif;
  
    --headline-lg: 4.8rem;
    --headline-md: 3rem;
    --headline-sm: 2.4rem;
    --title-lg: 2.2rem;
    --title-md: 2rem;
    --title-sm: 1.8rem;
    
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
  
    /**
     * spacing
     */
  
    --section-padding: 56px;
  
    /**
     * box shadow
     */
  
    --shadow-1: 0px 35px 65px -10px hsla(0, 0%, 0%, 0.05);
    --shadow-2: 0 10px 40px hsla(0, 0%, 0%, 0.06);
  
    /**
     * border radius
     */
  
    --radius-4: 4px;
    --radius-6: 6px;
    --radius-8: 8px;
    --radius-circle: 50%;
  
    /**
     * transition
     */
  
    --transition: 0.25s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);

    
  
  }
  
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw 9vw;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 999;
}

nav img {
    width: 140px;
    cursor: pointer;
}

#menu-btn {
    width: 40px;
    height: 40px;
    display: none;
}

#menu-close {
    display: none;
}

nav .navigation {
    display: flex;
}

nav .navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navigation ul li {
    list-style: none;
    margin-left: 30px;
}

nav .navigation ul li a {
    text-decoration: none;
    color: rgb(21, 41, 100);
    font-size: 16px;
    font-weight: 500;
}
nav .navigation ul li .register-btn {
    margin: 25px;
    padding: 15px 25px;
    border-radius: 25px;
    border: none;
    background-color: #04135c;
    color: white;
    cursor: pointer;
}

nav .navigation ul li .register-btn:hover {
    background-image: linear-gradient(to right, #68e9e9 0%, #8b3deb 100%);
    transition: 0.3s;
    
}

nav .navigation ul li a:hover {
    color: rgb(89, 202, 233);
    transition: 0.6s;
}


#home {
    position: relative;
    height: calc(100vh - 70px); 
    display:flex;
    float: left;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    text-align:left;
    padding-top: 64px;
    margin-top: 60px; 
    overflow: hidden; 
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(9,5,54,0.3),rgba(9, 8, 48, 0.7)), url("../images/background2.jpg");
    background-size: cover;
    background-position: center;
    transform: scaleX(-1); 
    z-index: -1; 
    
    
}

#home h1 {
    z-index: 1; 
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
    margin-left: 10%;
    width: 120%;
}
#home h1 #txt-color{
    font-size: 3rem;
    background-image: linear-gradient(180deg, #7ef8c1 20%, #009efd 100%);
    background-clip: text;
    color: transparent;
}
#home h1 #txt-color:hover{
    background-image: linear-gradient(180deg, #bdf458 0%, #7ceaf2 100%);
    background-clip: text;
    color: transparent;
    transition: 0.3s;
}
#home h1 #txt-color2{
    background-image: linear-gradient(180deg, #c1f561 0%, #f478d3 100%);
    background-clip: text;
    color: transparent;
}
#home p{
    color: white;
    margin-left: 10%;
    width: 80%;
    font-size: 20px;
}


.btn-container .get-started-btn {
    margin: 25px;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    background-color: #109292;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.btn-container .get-started-btn:hover {
    background-image: linear-gradient(to right, #68e9e9 0%, #8b3deb 100%);
    transition: 0.3s;
}

.btn-container .explore-btn {
    margin: 25px;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    background-color: #109292;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.btn-container .explore-btn:hover {
    background-image: linear-gradient(to right, #68e9e9 0%, #8b3deb 100%);
    transition: 0.3s;
}

.content-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 50px 20px;
    
}
.full-content{
    background-image: url('../images/whychooseus_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.content-section.reverse {
    flex-direction: row-reverse;
}

.content {
    flex: 1;
    min-width: 300px;
    margin: 20px;
}

.image {
    flex: 1;
    min-width: 300px;
    margin: 20px;
    text-align: center;
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/*Contact form*/

.contact-page{
    background-image: url('../images/contact\ us\ background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#contact-heading{
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
    color: #333;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
}

.contact-form,
.contact-details {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 8px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.contact-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #3498db;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #2980b9;
}

.contact-details{
    align-items: center;
    justify-content: center;
}
.contact-details p {
    margin: 16px 0;
    font-size: 1em;
}

.contact-details i {
    font-size: 2em; 
    color: #3498db;
    margin-bottom: 10px;
}

.contact-details h2 {
    margin: 10px 0;
    font-size: 1.5em;
}





footer {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(9, 8, 48, 0.7)), url("../images/background2.jpg");
    background-size: cover;
    background-position: center;
  }
  div.container{
    width: 100%;
    
  }
  
  .footer-top .container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    width: 100%;
    max-width: 100%;
    
  }
  
  .footer-brand {
    margin-right: 0;
    margin-left: 50px;
    width: 100%;
    max-width: 500px;
  }
  
  .footer-text {
    margin-block: 40px 32px;
    width: 100%;
  }
  
  .social-list {
    display: flex;
    gap: 16px;
    list-style: none;
  }
  
  .footer-list {
    list-style: none;
    width: 100%;
    max-width: 250px;
    margin-top: 50px;
    margin-left: 50px;
  }
  
  .footer-list li a {
    text-decoration: none;
    color: rgb(36, 27, 27);
  }
  
  .footer-list-title {
    margin-block-end: 32px;
  }
  
  .footer-link {
    margin-block-start: 16px;
  }
  
  .footer-top .grid-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-top .grid-list .img-cover {
    border-radius: var(--radius-6);
    height: 65px;
  }
  
  .footer-bottom {
    padding-block: 32px;
    text-align: center;
    border-block-start: 1px solid var(--black_10);
  }
  
  .copyright {
    font-weight: var(--fw-500);
  }
main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:/*linear-gradient(rgba(165, 224, 244, 0.7),rgba(89, 204, 236, 0.7)), */ url("../images/category-bg.png"); 
    background-repeat: no-repeat;
    background-size: cover;
}

.page-title {
    font-size: 2.5rem;
    margin: 20px 0;
    color: var(--oxford-blue);
}
.course-page-title {
    font-size: 2.5rem;
    margin: 100px 0 0 0;
    color: var(--oxford-blue);
}
#course-text{
    text-decoration:double;
    font-size: 50px;
    color: #0b1eee;
}

.courses-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1300px;
    padding: 20px;
}


.course-card {
    background: var(--white);
    padding: 20px;
    border-radius: var(--radius-8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: var(--transition);
    text-align: center;
    position: relative;
    
    
}
.course-logo {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 50%;
}
.course-card h2 {
    font-size: 1.5rem;
    color: #15314b;
    margin-bottom: 10px;
}

.course-card p {
    font-size: 1rem;
    color: #7e7e7e;
}

.course-card:hover {
    transform: scale(1.05);
    background: #50d2e9;
    color: #ffffff;
    border-left: #04135c solid 5px;
    transition: 0.3s;
}

.course-card:hover h2,
.course-card:hover p {
    color: #ffffff;
}
.course-details {
    display: none;
    text-align: left;
    margin-top: 15px;
}

.course-details ul {
    padding-left: 20px;
}

.course-card button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background: #15314b;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
}

.course-card button:hover {
    background: #36c2b1;
}

/* Responsive adjustments */

@media (max-width: 400px) {
    #home h1 {
        font-size: 1.2rem;
        width: 90%;
    }

    #home h1 #txt-color {
        font-size: 1.5rem;
    }

    #home p {
        font-size: 14px;
    }

    .btn-container .get-started-btn, .btn-container .explore-btn {
        padding: 4px 8px;
        font-size: 12px;
    }
}
@media (min-width: 575px) {

    #home h1{
        width: 100%;
    }

    .btn-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        margin-left: 8%;
    }

    .btn-container .get-started-btn, .btn-container .explore-btn {
        padding: 5px 10px;
        font-size: 13px;
    }
    
    .footer-top .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
      }
}
@media (max-width: 600px) {
    .page-title {
        font-size: 2rem;
    }

    .course-card h2 {
        font-size: 1.2rem;
    }

    .course-card p {
        font-size: 0.9rem;
    }
}

@media (max-width: 769px) {
    #home {
        padding-top: 40px;
        margin-top: 50px;
    }

    #home h1 {
        font-size: 1.8rem;
        margin-left: 5%;
        width: 70%;
    }

    #home h1 #txt-color {
        font-size: 2rem;
    }

    #home p {
        font-size: 16px;
        margin-left: 5%;
        width: 90%;
    }

    .btn-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        margin-left: 8%;
    }

    .btn-container .get-started-btn, .btn-container .explore-btn {
        margin: 15px 0;
        padding: 6px 12px;
        font-size: 14px;
    }
    nav {
        padding: 15px 20px;
    }

    nav img {
        width: 100px;
    }

    #menu-btn {
        display: initial;
    }

    #menu-close {
        display: initial;
        font-size: 1.6rem;
        color: white;
        padding: 30px 0 20px 20px;
    }

    nav .navigation ul {
        position: absolute;
        top: 0;
        right: -220px;
        width: 220px;
        background-color: rgba(20, 67, 176, 0.45);
        backdrop-filter: blur(4.5px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: 0.3s ease;
    }

    nav .navigation ul.active {
        right: 0;
    }

    nav .navigation ul li {
        padding: 20px 0 20px 40px;
        margin-left: 0;
    }

    nav .navigation ul li a {
        color: white;
        .footer-top .container {
            display: flex;
            flex-direction: column;
          }
        
          .footer-brand,
          .footer-list,
          .grid-list {
            width: 100%;
          }
        
          .footer-text {
            margin-block: 20px 16px;
          }
        }
        .content-section {
            flex-direction: column;
            background-image: url('../images/whychooseus_background.jpg');
        }
        
        .content-section.reverse {
            flex-direction: column;
        }
        
        .image, .content {
            text-align: center;
        }

        .contact-container {
            flex-direction: column;
            align-items: center;
        }
    
        .contact-form,
        .contact-details {
            max-width: 100%;
        }
    }

@media (min-width: 992px) {
    #home h1 {
        font-size: 2.5rem;
        width: 60%;
    }

    #home h1 #txt-color {
        font-size: 3rem;
    }

    #home p {
        font-size: 17px;
    }

    .btn-container .get-started-btn, .btn-container .explore-btn {
        padding: 15px 25px;
        font-size: 16px;
    }
    
    .footer-top .container { grid-template-columns: 1fr 0.5fr 0.5fr 0.8fr; }

  .footer-brand { padding-inline-end: 24px; }

}
@media (min-width: 50%) {
    #home h1 {
        font-size: 2.2rem;
    }

    #home h1 #txt-color {
        font-size: 2.5rem;
    }

    #home p {
        font-size: 18px;
    }

    .btn-container{
        margin-left: 10%;
    }
    .btn-container .get-started-btn, .btn-container .explore-btn {
        padding: 8px 16px;
        font-size: 15px;
    }

    .footer .container { gap: 48px; }

}